@import url('../../styles/variable.css');
.fixed-back-button {
  position: fixed;
  left: 20px;
  top: 95%;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.fixed-back-button:hover {
  transform: translateY(-50%) scale(1.2);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 10px solid #333;
}

@media (min-width: 768px){
    .fixed-back-button{
        top: 50%;
    }
}